*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }
    
    body{
      font-family: 'Indie Flower', cursive;
      width: 100%;
      background-color: #000000;
    }
    
    /*menu*/
    .menu-btn{
      cursor: pointer;
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 2;
      display: none;
    }
    
    ul{
      list-style: none;
    }
    
    a{
      color: #ffb850;
      text-decoration: none;
    }
    
    .encabezado{
      background: #df8d2c;
      height: 100vh;
    }
    
    .menu{
    background-color: #b11799;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: uppercase;
      justify-content: space-between;
      padding: 20px 0;
      height: 18%
    }
    
    .logo{
      height: 100%;
    }
    
    .menu ul{
      display: flex;
    }
    
    .menu ul li{
      padding: 20px;
    }
    
    .menu ul li a:hover{
      text-shadow: 0 0 30px #ffffff;
      font-size: larger;
    }
    
    .icon-color {
      color: #ffffff; 
    }
    
    /*fin del menu*/
    
    .caja-banner{
        height: 82%;
    }
    
    .banner-pelicula{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    
    .banner-img{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      margin: 0 auto;
      height: 100%;
    }
    
    .pelicula{
      height: 100%;
      display: flex;
      align-items: center;
    }
    
    .img-1{
        height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    
    
    .cont2{
      width: 100%;
      height: 100%;
      background-color: #000000;
    }
    
    
    .cont2-txt{
        width: 100%;
        text-align: center;
        color: white;
        font-size: calc(15px + 0.7vw);
    }
    
    
    .texto1cont{
        padding: 8%; 
        width: 100%;
    }

      
    .seccion-2{
      display: flex;
      justify-content: center;
      background-color: #0f0e30;
    }

    .cont-3{
      padding: 5%;
      display: grid;
      grid-gap: 20px; 
      grid-template-columns: repeat(3, 1fr);
      margin: 0;
      justify-content: center;
    }
    
   
    .card{
      height: 400px;
      width: 300px;
      background: none;
      border: none;
      color: #ffb850;
    }

    .personaje_1, .personaje_2, .personaje_3, .personaje_4, .personaje_5, .personaje_6{
      height: 300px;
      width: 300px;
    }

    .img-personaje_1{
      height: 100%;
      width: 100%;
      background-image: url(../img/img-pelicula/1-scott-comic.png);
      background-size: cover;
      border-radius: 100%;
    }
    .img-personaje_2{
      height: 100%;
      width: 100%;
      background-image: url(../img/img-pelicula/2-ramona-comic.png);
      background-size: cover;
      border-radius: 100%;
    }
    .img-personaje_3{
      height: 100%;
      width: 100%;
      background-image: url(../img/img-pelicula/3-knives-comic.png);
      background-size: cover;
      border-radius: 100%;
    }
    .img-personaje_4{
      height: 100%;
      width: 100%;
      background-image: url(../img/img-pelicula/4-envy-comic.png);
      background-size: cover;
      border-radius: 100%;
    }

    .img-personaje_5{
      height: 100%;
      width: 100%;
      background-image: url(../img/img-pelicula/5-wallace-comic.png);
      background-size: cover;
      border-radius: 100%;
    }

    .img-personaje_6{
      height: 100%;
      width: 100%;
      background-image: url(../img/img-pelicula/6-julie-comic.png);
      background-size: cover;
      border-radius: 100%;
    }


    .personaje-info{
      width: 100%;
      text-align: center;
    }


    /*hover*/

    .card:hover{
      color: #ffffff;
      transform: scale(1.05);
    }
    .card:hover .img-personaje_1{
      background-image: url(../img/img-pelicula/1-scott-movie.png);
      transition: 300ms;
    }

    .card:hover .img-personaje_2{
      background-image: url(../img/img-pelicula/2-ramona-movie.png);
      transition: 300ms;
    }

    .card:hover .img-personaje_3{
      background-image: url(../img/img-pelicula/3-knives-movie.png);
      transition: 300ms;
    }

    .card:hover .img-personaje_4{
      background-image: url(../img/img-pelicula/4-envy-movie.png);
      transition: 300ms;
    }

    .card:hover .img-personaje_5{
      background-image: url(../img/img-pelicula/5-wallace-movie.png);
      transition: 300ms;
    }

    .card:hover .img-personaje_6{
      background-image: url(../img/img-pelicula/6-julie-movie.png);
      transition: 300ms;
    }

    .personaje-info:hover{
    }


  .seccion-cuadricula {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

  }
  
  .img-cuadricula {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }





  /*footer*/
    .footer {
      background-color: #b11799;
      height: 15vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .redes {
      text-align: center;
    }
    
    .redes-icon a {
      color: #ffb850;
      margin: 0 10px;
      font-size: 2rem;
    }
    
    .redes-icon a:hover {
      color: #ffffff;
    }
    
    .redes-txt p {
      margin-top: 10px;
      color: #ffb850;
    }
    
    /*Media Queries*/

    @media (max-width: 1030px){
      .menu-btn{
        display: block;
      }
    
      .menu ul.nav-menu{
        background: #b11799;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        padding: 30px;
        transform: translateX(-400px);
        transition: transform 0.5s ease-in-out;
      }
    
      .menu ul.nav-menu.show{
        transform: translateX(0);
    
      }
    
      .menu ul.nav-menu li{
        font-size: 20px;
        padding: 12px;
      }
    
      .menu{
        display: flex;
        justify-content: center;
      }
    
      .banner-img{
        height: 65%;
      }

      .cont-3{
        grid-template-columns: repeat(1, 1fr);
      }
    }

