*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  }
  
  body{
    font-family: 'Indie Flower', cursive;
    width: 100%;
    background-color: #007ab5;
  }
  
  .menu-btn{
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
    display: none;
  }
  
  ul{
    list-style: none;
  }
  
  a{
    color: #df8d2c;
    text-decoration: none;
  }
  
  .encabezado{
  background: #04061b;
  }
  
  .menu{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: space-between;
    padding: 20px 0;
    height: 18vh;
  }
  
  .logo{
    height: 100%;
  }
  
  .menu ul{
    display: flex;
  }
  
  .menu ul li{
    padding: 20px;
  }
  
  .menu ul li a:hover{
    text-shadow: 0 0 30px #ffb850;
    font-size: larger;
  }
  
  .icon-color {
    color: #df8d2c;
  }
    
/* Primera sección */
.seccion-fondo {
    width: 100vw;
    overflow: hidden;
  }
  
  .img-fondo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Segunda sección */
  .seccion-imagen-texto {
    display: flex;
    width: 100%;
    background-color: #c74c4c;
    text-align: center;
    align-items: center;
    
  }
  
  .img-izquierda {
    width: 50%;
  }
  
  .texto-derecha {
    width: 50%;
    text-align: center;
    padding: 4%;
    color: white;
    font-size: calc(10px + 1vw);
  }
  
  /* Tercera sección */
  .seccion-cuadricula {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

  }
  
  .img-cuadricula {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
.footer {
    background-color: #b11799;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .redes {
    text-align: center;
  }
  
  .redes-icon a {
    transition: transform 0.1s ease;
    color: #ffb850;
    margin: 0 10px;
    font-size: 2rem;
  }
  
  .redes-icon a:hover {
    transform: scale(1.8);
    color: #ffffff;
  }
  
  .redes-txt p {
    margin-top: 10px;
    color: #ffb850;
  }
  
  
  @media (max-width: 1030px){
    .menu-btn{
      display: block;
    }

    .seccion-cuadricula {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }

    .menu ul.nav-menu{
      background: #04061b;
      display: block;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      padding: 30px;
      transform: translateX(-400px);
      transition: transform 0.5s ease-in-out;
    }
  
    .menu ul.nav-menu.show{
      transform: translateX(0);
  
    }
  
    .menu ul.nav-menu li{
      font-size: 20px;
      padding: 12px;
    }
  
    .menu{
      display: flex;
      justify-content: center;
    }
  
  
    .banner-inicio {
      flex-direction: column;
  }
  
  .inicio-1{
    width: 100%;
    max-width: 100%;
  }
  
  
  .seccion-imagen-texto{
    flex-direction: column;
  }
  
  .img-izquierda{
    width: 100%;
  }
  
  .texto-derecha{
    width: 100%;
    padding: 10%;
    font-size: calc(14px + 1vw);
  }
  
  .cont3{
    flex-direction: column;
    height: 100%;
  }
  
  .cont3-img{
    width: 50%;
    padding: 0%;
  }
  
  .cont3-txt{
    width: 100%;
    padding: 10%;
  }
  
  .redes{
    width: 50%;
  }
  }